body {
  background-color: #000;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;

  #player {
    display: none;
  }

  #abecedario {
    font-size: 70pt;
    font-family: 'B612 Mono', monospace;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);

    div {
      padding: 2pt 10pt;
      height: 2pt;
      display: inline-block;
      transition: color 2s ease;
    }
    div:hover {
      cursor: pointer;
    }
  }
}
